<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>憑證管理</h1>
    <!-- 列出目前憑證 -->
    <table class="table">
        <thread>
            <tr>
                <th scope="col"Username</th>
                <th scope="col">PublicKey</th>
            </tr>
        </thread>
        
    </table>
</body>
</html>